.product-card-container{
    display: flex;
    flex-direction: column;
}

.product-card{
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
}

.product-img-box{
    border: 2px solid blue;
}

.buy-bid-box{
    display: inline-block;
    border: 2px solid green;
}